In [6]:
import importlib
import os
from pathlib import Path

import pandas as pd

import config
import module

try:
    importlib.reload(config)  # reload module
except NameError:
    pass
try:
    importlib.reload(module)  # reload module
except NameError:
    pass

In [2]:
# load df
folder_path = Path("input", config.month)

excel_files = [f for f in os.listdir(folder_path) if f.endswith('.xls')]

dfs = []

for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path, skiprows=6)
    dfs.append(df)

df_ori = pd.concat(dfs, ignore_index=True)

WARNING *** file size (2679395) not 512 + multiple of sector size (512)
WARNING *** file size (680547) not 512 + multiple of sector size (512)
WARNING *** file size (2572899) not 512 + multiple of sector size (512)
WARNING *** file size (2679395) not 512 + multiple of sector size (512)
WARNING *** file size (705123) not 512 + multiple of sector size (512)
WARNING *** file size (2572899) not 512 + multiple of sector size (512)
WARNING *** file size (680547) not 512 + multiple of sector size (512)
WARNING *** file size (1491555) not 512 + multiple of sector size (512)
WARNING *** file size (705123) not 512 + multiple of sector size (512)
WARNING *** file size (2695779) not 512 + multiple of sector size (512)

# Clean DF

In [11]:
df_clean = (df_ori
    .dropna(how="all", axis="columns")
    .dropna(how="all", axis="rows")
    .rename(columns=lambda c: c.lower().replace(" ", "_"))  # replace space with _
    .assign(
        student_code=lambda df_: module.create_student_code(df_),
        student_membership=lambda df_: module.create_student_membership(df_),
    #     start_level=lambda df_: df_["start_level"].astype(float),
    #     current_level=lambda df_: df_["current_level"].astype(float),
    #     date_of_birth=lambda df_: pd.to_datetime(df_["date_of_birth"]),
    #     start_date=lambda df_: pd.to_datetime(df_["start_date"]),
    #     end_date=lambda df_: pd.to_datetime(df_["end_date"]),
    #     email=lambda df_: df_["email"].str.lower().str.strip(),
    #     mobile=lambda df_: module.clean_phone_number(df_["mobile"]),
    #     consultant = lambda df_: df_["consultant"].str.upper(),
    #     is_cpt = lambda df_: module.get_cpt(df_), 
    #     student_center = lambda df_: module.get_center(df_),
    #     student_area = lambda df_: module.get_area(df_),
    )
    # # ! NEED TO DEBUG WHY SOME ARE NOT MAPPED
    # .assign(
    #     student_center = lambda df_: df_["student_center"].fillna("Not Specified"),
    #     student_area = lambda df_: df_["student_area"].fillna("Not Specified"),
    # )
    # # ! drop ST
    # .loc[
    #     lambda df_: ~(
    #         df_["student_code"].str.contains("STREET TALK|STREETTALK", na=False)
    #     )
    # ]
    # # ! drop duplicated member based on student code and start date
    # .drop_duplicates(subset=["student_code", "start_date"], keep="first")
    # # ! drop unnecessary cols
    # .drop(
    #     columns=[
    #         "gender",
    #         "home",
    #         "work",
    #         "end_level",
    #         "on_track",
    #         "course_status",
    #         "personal_tutor",
    #         "first_name",
    #         "last_name",
    #         "center_name",
    #     ]
    # )
)
df_clean

,center_name,last_name,first_name,student_code,date_of_birth,gender,home,work,mobile,email,...,start_date,end_date,start_level,end_level,current_level,personal_tutor,on_track,contract_status,course_status,student_membership
0,IN: Indonesia,Hasibuan (CPT PT. Bayan Resources Tbk),Muhammad Fauzi,HASIBUAN (CPT PT. BAYAN RESOURCES TBK) MUHAMMA...,1981-11-29 07:00:00,Male,NaN,NaN,+62-81288212241,fauzi.hasibuan@bayan.com.sg,...,2023-05-23,2023-07-03 23:59:59,17,17,17.0,NaN,NaN,Promo-Invalid,First Level,Deluxe
1,IN: Indonesia,(Street Talk),Cilla,(STREET TALK) CILLA - 8958,1996-06-12 07:00:00,Female,NaN,NaN,+62-87851038757,ancillam1206@gmail.com,...,2023-01-09,2023-02-19 23:59:59,8,8,8.0,NaN,NaN,Promo-Invalid,First Level,Deluxe
2,IN: Indonesia,Vernando (Street Talk),Vunknes C.,VERNANDO (STREET TALK) VUNKNES C. - 8614,1987-08-11 07:00:00,Male,NaN,NaN,+62-081222691997,vc.vernando@gmail.com,...,2022-11-17,2022-12-16 23:59:59,2,2,2.0,NaN,NaN,Promo-Invalid,First Level,Deluxe
3,IN: Indonesia,(CPT PT Bayan Resources Tbk),Stefanie,(CPT PT BAYAN RESOURCES TBK) STEFANIE - 9445,1976-04-05 07:00:00,Female,NaN,NaN,+62-85217315518,stefanie@bayan.com.sg,...,2023-04-05,2023-05-16 23:59:59,16,16,16.0,NaN,NaN,Promo-Invalid,First Level,Deluxe
4,IN: Indonesia,Sephira Hanny (Street Talk),Kriswahyu,SEPHIRA HANNY (STREET TALK) KRISWAHYU - 8973,1998-09-21 07:00:00,Female,NaN,NaN,+62-81211162130,krishanny3@gmail.com,...,2023-01-11,2023-02-21 23:59:59,8,8,8.0,NaN,NaN,Promo-Invalid,First Level,Deluxe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34341,IN: Indonesia,MORINO HIMAWAN,OXSY,MORINO HIMAWAN OXSY - 8836,2007-03-20 07:00:00,Male,NaN,NaN,+62-81517483280,oxmorino@gmail.com,...,2022-12-23,2023-10-22 23:59:59,3,7,3.0,NaN,NaN,Invalid,Renewable,Deluxe
34342,IN: Indonesia,PUTRI (DLX KK),AZAHRA NINDYA,PUTRI (DLX KK) AZAHRA NINDYA - 9911,2005-02-08 07:00:00,Female,NaN,NaN,+62-87767899738,nindyaazahra08@gmail.com,...,2023-06-28,2024-03-27 23:59:59,3,7,3.0,NaN,NO,Active-Valid,Other Level,Deluxe
34343,IN: Indonesia,NASUTION,HABIB AL KAHFI,NASUTION HABIB AL KAHFI - 8121,2000-05-22 07:00:00,Male,NaN,NaN,+62-082168377229,habibeneste@gmail.com,...,2022-10-05,2024-11-04 23:59:59,9,20,18.0,NaN,YES,Active-Valid,Other Level,Deluxe
34344,IN: Indonesia,MUNTHE (VIP),DAVID TUMPAL,MUNTHE (VIP) DAVID TUMPAL - 7815,1977-03-24 07:00:00,Male,NaN,NaN,+62-0811110754,themoenthe@gmail.com,...,2021-11-21,2023-02-20 23:59:59,2,12,10.0,NaN,NaN,Invalid,Renewable,VIP
34345,IN: Indonesia,TURUNGKU,MAYNUR FAJAR SARI,TURUNGKU MAYNUR FAJAR SARI - 8085,1994-05-07 07:00:00,Female,NaN,NaN,+62-81212133867,sari.maynur@gmail.com,...,2022-10-01,2024-10-31 23:59:59,6,17,7.0,NaN,NO,InActive-Valid,Other Level,Deluxe

# Assertion

In [4]:
assert sorted(df_clean["student_membership"].unique()) == ["Deluxe", "GO", "VIP"]

# Save DF

In [5]:
filename = ("coco member.xlsx").replace(" ", "_")
output_path = Path("output", folder_path.stem)

if not os.path.exists(full_filepath := output_path / filename):
    try:
        os.mkdir(output_path)
    except FileExistsError:
        pass
    df_clean.to_excel(full_filepath, engine="xlsxwriter", index=False)
    print("File saved.")
else:
    print("File already exist.")

File already exist.

# Experiment

In [6]:
# jkt_1 = ["PP", "SDC", "KG"]
# jkt_2 = ["GC", "LW", "BSD", "TBS"]
# jkt_3 = ["KK", "CBB", "SMB"]
# bdg = ["DG"]
# sby = ["PKW"]
# centers = jkt_1 + jkt_2 + jkt_3 + bdg + sby
# pattern = f'({"|".join(centers)})'

# (df_ori
#     .loc[~(df_ori["Last Name"].str.contains(pattern, regex=True, na=False))]
# )

In [7]:
# (df_clean
#     .loc[
#         (df_clean["student_center"].isna()) | (df_clean["student_area"].isna()) | (df_clean["student_membership"].isna()) |
#         (df_clean["student_center"] == "Not Specified") | (df_clean["student_area"] == "Not Specified") | (df_clean["student_membership"] == "Not Specified")
#     ]
#     .sample(10)
# )

In [8]:
# (df_clean
#     .loc[df_clean["student_center"].isna(), ["student_code", "consultant"]]
# )

In [9]:
# jkt_1 = ["PP", "SDC", "KG"]
# jkt_2 = ["GC", "LW", "BSD", "TBS"]
# jkt_3 = ["KK", "CBB", "SMB"]
# bdg = ["DG"]
# sby = ["PKW"]
# centers = jkt_1 + jkt_2 + jkt_3 + bdg + sby
# pattern = f'(\W{"|".join(centers)}\W)'

# (df_ori
#     .loc[df_ori["Last Name"].str.upper().str.contains(pattern, regex=True, na=False)]
#     .assign(
#         center = lambda df_: ( df_["Last Name"]
#             .str.extract("(\(.+\))", expand=False)
#             .str.replace("(", "", regex=False)
#             .str.replace(")", "", regex=False)
#             # .str.extract(pattern, expand=False)
#         )
#     )
#     .loc[lambda df_: df_["center"].isna()]
# )

In [10]:
# df_clean.loc[df_clean["student_area"].isna()]